body {
    font-family: 'Orelega One', cursive;
}

header {
    background-color: blue;
    text-align: center;
    color: cornsilk;
}

button {
    background-color: lightblue;
}

.weather {
    display: none;
}