body {
    font-family: 'Orelega One', cursive;
}

header {
    background-color: blue;
    text-align: center;
    color: cornsilk;
}

button {
    background-color: lightblue;
}

.col-lg-9 {
    box-sizing: border-box;
    border-color: gray;
}