body {
    font-family: 'Orelega One', cursive;
}

header {
    background-color: blue;
    text-align: center;
    color: cornsilk;
}

button {
    background-color: lightblue;
}

.row {
    margin-left: 5px;
}

.search {
    margin-top: 50px;
}

.weather {
    display: none;
}